@charset "UTF-8";
body {
  margin: 0 auto;
  background-color: #f1f0f0;
  background-size: auto;
  font-family: Helvetica, Arial, "微軟正黑體", sans-serif;
  font-size: 1rem;
  line-height: 1.6; }
  body input, body select, body option, body textarea {
    font-size: 1rem;
    line-height: 1.6;
    font-family: Helvetica, Arial, "微軟正黑體", sans-serif; }

.libar-ksml-privacy-layout {
  margin: 0;
  padding: 0;
  background-color: #fff; }

/*圖書館-LOGO */
.libar-ksml-privacy-title {
  margin: 0;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start; }

.libar-ksml-privacy-img {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  width: 200px; }
  .libar-ksml-privacy-img img {
    width: 100%; }

.libar-ksml-privacy-text {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  display: block;
  overflow: hidden;
  font-weight: bold;
  border-left: 1px solid #000;
  font-size: 1.5rem; }

/*圖書館宣告標題 */
.libar-ksml-privacy-h1-layout {
  margin: 0;
  padding: 25px 40px;
  background-color: #e6e8e8; }

.libar-ksml-privacy-h1-list {
  margin: 0;
  padding: 0; }

.libar-ksml-privacy-h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem; }

.libar-ksml-privacy-h1-text {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 2rem; }

/*圖書館遊戲IOCN */
.libar-ksml-privacy-games-layout {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none; }

.libar-ksml-privacy-games-list {
  margin: 0;
  padding: 10px 20px 0 0;
  display: block;
  overflow: hidden;
  width: 50px; }
  .libar-ksml-privacy-games-list img {
    width: 100%; }

/*圖書館內容 */
.libar-ksml-privacy-infor-layout {
  margin: 0;
  padding: 20px 40px;
  font-size: 1.25rem;
  line-height: 1.6; }

.libar-ksml-privacy-infor-list {
  margin: 0;
  padding: 0 0 20px; }

.libar-ksml-privacy-infor-title {
  margin: 0 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e6e8e8; }

.libar-ksml-privacy-infor-cont {
  margin: 0;
  padding: 0; }
  .libar-ksml-privacy-infor-cont ul {
    margin: 0; }
    .libar-ksml-privacy-infor-cont ul li {
      margin: 0;
      padding: 0 0 10px; }
